coolname==4.1.0
einops==0.8.2
hydra-core==1.3.2
lerobot==0.5.2
matplotlib==3.10.9
nltk==3.9.2
nnsight==0.7.0
numpy==2.4.6
omegaconf==2.3.0
PyYAML==6.0.3
rich==15.0.0
seaborn==0.13.2
torch==2.7.1
wandb==0.27.0
webdataset==1.0.2
